<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>
