<h1>All videos index</h1>

<%= render partial: 'flash' %>

<div class="card-columns">
  <div class='card border-primary'>
    <div class="card-body">
      <h2 class="card-title h5">Try this out!<h2>
      <%= link_to 'Upload new video', new_video_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <% @videos.each do |v| %>
    <div class='card <%= 'border-success' if v.ok? %>'>
      <div class="card-body">
        <h2 class="card-title h5">
          #<%= v.id %> <%= v.name %>
          <% if v.hd? %>
            <span class="badge badge-success">HD</span>
          <% else %>
          <span class="badge badge-secondary">SD</span>
          <% end %>
        </h2>
        <% if v.ok? %>
          <%= link_to 'Play', video_path(v), class: 'btn btn-success' %>
        <% elsif v.pending? %>
          <%= link_to 'See progress', progress_video_path(v), class: 'btn btn-secondary' %>
        <% end %>

        <%= link_to 'Delete', video_path(v), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure? Video will be deleted permanently.'} %>
      </div>
    </div>
  <% end %>
</div>
