<h1>Upload an video file</h1>

<%= render partial: 'flash' %>

<%= form_for @video do |f| %>
  <div class="form-group">
    <label class="custom-file">
      <%= f.file_field :source, class: 'custom-file-input', accept: 'video/*' %>
      <span class="custom-file-control"></span>
    </label>
  </div>

  <p>Maximum file size: <%= SETTINGS[:max_upload_size] %></p>

  <div class="form-group">
    <%= f.submit 'Upload', class: 'btn btn-primary' %>
  </div>

  <script>
    $(document).ready(function(){
      $('.custom-file :file').change(function(e, numFiles) {
        $('.custom-file-control').html(e.target.files[0].name);
      });
    });
  </script>
<% end %>
