<ol class="breadcrumb m-2">
  <li class="breadcrumb-item"><%= link_to 'Index', root_path %></li>
  <li class="breadcrumb-item"><%= link_to @video.name, video_path(@video) %></li>
  <li class="breadcrumb-item active">Progress</li>
</ol>

<h1>#<%= @video.id %> <%= @video.name %> progress</h1>

<div class="row p-2">
  <div class="col-2">
    Rendition
  </div>
  <div class="col-2">
    Status
  </div>
  <div class="col-6">
    Progress
  </div>
  <div class="col-2">
    Time left, seconds
  </div>
</div>

<div class="container">
  <% @video.renditions.each do |rendition| %>
    <div class="row p-2 rendition-<%= rendition[:name] %>">
      <div class="col-2">
        <%= rendition[:name] %>
      </div>
      <div class="col-2 status">
        <%= rendition[:status_humanized] %>
      </div>
      <div class="col-6 progress-wrapper">
        <% if rendition[:status_humanized] == :pending %>
          <% if rendition[:progress_in_percents] %>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= rendition[:progress_in_percents] %>%" aria-valuenow="<%= rendition[:progress_in_percents] %>" aria-valuemin="0" aria-valuemax="100">
                  <%= rendition[:progress_in_percents] %>%
              </div>
            </div>
          <% else %>
            <p>Queued</p>
          <% end %>
        <% end %>
      </div>
      <div class="col-2 time-left">
        <% if rendition[:status_humanized] == :pending %>
          <%= rendition[:time_left] %>
        <% end %>
      </div>
    </div>
  <% end %>

  <p>
    <% if @video.ok? %>
      <%= link_to 'Play', video_path(@video), class: 'btn btn-success', id: 'btn-play' %>
    <% else %>
      <%= link_to 'Info', video_path(@video), class: 'btn btn-secondary', id: 'btn-play' %>
    <% end %>
  </p>

</div>

<script>
  $(document).ready(function(){
    // render renditions progress (bars, time left)
    function render_progress(data) {
      for (var i = 0; i < data.length; i++) {
        // status
        $('.rendition-' + data[i]['name'] + ' .status').html(data[i]['status_humanized']);

        // progress
        var progress_el = $('.rendition-' + data[i]['name'] + ' .progress-wrapper');
        if (data[i]['status_humanized'] == 'pending') {
          if (data[i]['progress_in_percents']) {
            var p = data[i]['progress_in_percents'];
            progress_el.html('<div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: ' + p + '%" aria-valuenow="' + p + '" aria-valuemin="0" aria-valuemax="100">' + p + '%</div></div>');
          } else {
            progress_el.html('<p>Queued<p>');
          }
        } else {
          progress_el.html('');
        }

        // time left
        if (data[i]['status_humanized'] == 'pending') {
          var val = data[i]['time_left'] || '?';
          $('.rendition-' + data[i]['name'] + ' .time-left').html(val);
        } else {
          $('.rendition-' + data[i]['name'] + ' .time-left').html('');
        }
      }
    };

    // poll while can resume
    var resume = true;
    function poll() {
      $.ajax({
        url: '<%= progress_video_path(@video, format: :json) %>',
        success: function(data, status) {
          render_progress(data['renditions']);
          if (data['status_humanized'] != 'pending') {
            console.log('Stopping...');
            resume = false;
          }
          if (data['status_humanized'] == 'ok') {
            $('#btn-play').attr('class', 'btn btn-success').html('Play!');
          }
        },
        error: function(xhr, status) {
          console.log('Error: ' + status);
          resume = false;
        },
        timeout: 5000,
        complete: setTimeout(function() { if (resume) { poll() } }, 2000)
      });
    }
    poll();
  });
</script>
