<ol class="breadcrumb m-2">
  <li class="breadcrumb-item"><%= link_to 'Index', root_path %></li>
  <li class="breadcrumb-item active">#<%= @video.id %> <%= @video.name %></li>
</ol>

<h1>#<%= @video.id %> <%= @video.name %></h1>

<div class="container">
  <% if @video.ok? %>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <video id='video-player' width='854' height='480' controls autoplay></video>
    <script>
      if(Hls.isSupported()) {
        var video = document.getElementById('video-player');
        var hls = new Hls();
        hls.loadSource('<%= VideoLink.insecure_url(@video) %>');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
          video.play();
      });
     }
    </script>
  <% end %>
</div>

<h2>Information</h2>

<dl class="row">
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">
    <%= @video.status_humanized %>
    <% if @video.pending? %>
      <%= link_to 'See progress', progress_video_path(@video), class: 'btn btn-secondary' %>
    <% end %>
  </dd>

  <dt class="col-sm-3">Duration</dt>
  <dd class="col-sm-9"><%= @video.duration_in_seconds %> seconds</dd>

  <dt class="col-sm-3">Renditions</dt>
  <dd class="col-sm-9"><%= @video.renditions.map { |r| r[:name] }.join(' ') %></dd>

  <dt class="col-sm-3">Source</dt>
  <dd class="col-sm-9"><%= @video.source %></dd>

  <dt class="col-sm-3">Video Link</dt>
  <dd class="col-sm-9">
    <%= link_to VideoLink.insecure_url(@video), VideoLink.insecure_url(@video) %>
    <p>Try this link in others players too:</p>
    <ul>
      <li><a href="http://players.akamai.com/hls/">Akamai Player</a></li>
    </ul>
  </dd>

</dl>
